@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color-700: #F51928;
    --primary-color-900: #000000;
    --primary-color-100: #ffffff;
    --secondary-color-50:#424242; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: var(--primary-color-100);
}
ul,ol{
    list-style: none;
}
a {
    text-decoration: none; 
    color: inherit;        
}


.header{
    background-color: var(--primary-color-900);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    padding: 0 24px;
    
}

.header__logo-conteiner svg{
    height: 28.83px;
    fill: var(--primary-color-700);
}

.header__divider {
width: 1px;
height: 20px;
background-color: var(--secondary-color-50);
}


.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
    
}

.header__nav-item:hover{
    color: var(--primary-color-700);
    cursor: pointer;
    
}

.header__nav-item{
    color: var(--primary-color-100);
    font-weight: 450;
    padding: 10px;
    margin: 10px;
}


.header__actions{
    display: flex;
    align-items: center;
    gap: 16px;
}

button {
background: none;
border: none;
padding: 0;
cursor: pointer;
}

.btn-secondary svg :hover path{

    fill: var(--primary-color-700);
}
.btn-primary svg:hover path{
    fill: var(--primary-color-700);
}
